# Attributes in pandas

In [1]:
import pandas as pd

In [3]:
men = ["smart", "handsome", "charming", "humble"]
s = pd.Series(men)

In [4]:
s

0       smart
1    handsome
2    charming
3      humble
dtype: object

In [5]:
s.values

array(['smart', 'handsome', 'charming', 'humble'], dtype=object)

In [6]:
s.index

RangeIndex(start=0, stop=4, step=1)

In [7]:
s.dtype

dtype('O')

# Methods in pandas

In [10]:
rate = [3.99, 4.54, 6.52, 5.55, 7.91]
m = pd.Series(rate)
m

0    3.99
1    4.54
2    6.52
3    5.55
4    7.91
dtype: float64

In [11]:
# Calculate sum of whole series using method 
m.sum()

28.51

In [12]:
# Calculate product a  series
m.product()

5184.9647823959995

In [13]:
# Find average of series
m.mean()

5.702

In [14]:
# Create a new list and create a labeled indexing
fruits = ["Apple", "Mango", "Watermelon", "pineapple"]
weekdays = ["mon", "Tue", "Wed", "Thur"]
pd.Series(fruits, weekdays)

mon          Apple
Tue          Mango
Wed     Watermelon
Thur     pineapple
dtype: object

In [15]:
pd.Series(data=fruits, index=weekdays)

mon          Apple
Tue          Mango
Wed     Watermelon
Thur     pineapple
dtype: object

In [16]:
pd.Series(weekdays, fruits)

Apple          mon
Mango          Tue
Watermelon     Wed
pineapple     Thur
dtype: object

In [17]:
# Create two dictionary
d1 = {'Japan':80, 'China':450, 'India':200, 'USA':250}
d2 = {'Brazil':100, 'China':500, 'India':210, 'USA':260}
s_d1 = pd.Series(d1)
s_d2 = pd.Series(d2)

In [18]:
# Add both values
s_d1.add(s_d2)

Brazil      NaN
China     950.0
India     410.0
Japan       NaN
USA       510.0
dtype: float64

In [19]:
s_d1.add(s_d2, fill_value=0)

Brazil    100.0
China     950.0
India     410.0
Japan      80.0
USA       510.0
dtype: float64